{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, []}.

{shell, [
    {apps, [chat_server]},
    {config, "config/sys.config"}
]}.

{ct_opts, [
    {logdir, "_build/test/logs"},
    {readable, true},
    {verbose, true}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_unused_vars, nowarn_export_all]}
    ]}
]}.

